html, 
body {
    height: 100%;
    font-family: 'Roboto', sans-serif;
	font-size:14px;
	line-height:20px;
	font-weight:100;
	text-align:justify;
}
p{
	margin-bottom:15px;
}
.dark-red {
	color: #8b0a1f;
}
h1 {
	font-family: 'Playfair Display', serif;
	font-weight: bold;
	letter-spacing: 2px;
	font-size: 32px;
	/*color: #8b0a1f;*/
}
h2 {
	font-family: 'Playfair Display', serif;
	font-weight: bold;
	font-size: 24px;
}
h3 {
	font-size: 16px;
	font-weight:bold;
	text-transform: uppercase;
	text-align: center;
	line-height:20px;
	margin-top:0px;
}
h4{
	font-size:20px;
	font-weight:100;
}
h5{
	text-transform: uppercase;
	color:#888888;
}
h6{
	font-size:14px;
}

/* UL */
ul {
    list-style: none;
	padding: 0;
}

/* LI */
li {
	line-height: 1.3em;
	font-weight: 100;
	padding-top: 10px;
}
/* Links*/

a {
	color:black;
	display: inline-block;
	text-decoration: none;
}
a:hover,a:focus {
	color:black;
	text-decoration:none !important;
	background-color:transparent !important;
}

a::after {
    content: '';
    display: block;
    width: 0;
	height: 3px;
    background: #8b0a1f;
    transition: width .6s;
}
hr {
	margin-top: 0;
	margin-bottom: 0;
	border: 0;
	border-top: 1px solid #e0e0e0;
}
img.center {
 display: block;
 margin-left: auto;
 margin-right: auto;
}

.btn::after,#contact-form-submit::after{
  position: absolute;
  content: '';
  top:0;
  left: 0;
  width: 0;
  height: 100%;
  background-color: #8b0a1f !important;
  transform-origin:left;
  transition:width 0.5s ease;
  z-index:-1;
}
.btn:hover::after,.btn:focus::after,#contact-form-submit:hover::after {
  width: 100% !important;
}
.btn,#contact-form-submit {
	cursor: pointer;
	display: inline-block;
	line-height: normal;
	margin: 0;
	height: auto;
	vertical-align: middle;
	-webkit-appearance: none;
	border:1px solid white;
	border-radius:0px;
	color:white !important;
	background-color: rgba(0, 0, 0, 0);
	display: inline-block;
    position: relative;
	transition:color 0.5s ease;
	z-index:1;
	font-weight: 300;
}
#about > ul, #build > ul,#products > ul{
	display: table;
	margin: 0 auto;
}
#about > ul > li, #build > ul > li, #products > ul > li {
	display: inline-block;
	margin: 25px;
	font-weight:100;
}




/*.page_wrapper{
	min-height:800px;
}*/

.content-wrapper { /*color-display-decking,.color-display-cladding, .color-display-fencing, .extruded-panel*/
	background-size:cover;
	padding: 50px 0;
}
.video-wrapper{
	background-color: gray;
}
.video-block{
	color: white;
}
.contactus-wrapper{
	padding: 100px 100px;
}



/*--------------------------------*/
/*-------       Nav       ------*/
/*-------------------------------*/
a.navbar-brand::after{
	background: transparent !important;
}
@media only screen and (min-width: 1200px) {

	.navbar {
		margin-bottom: 0px;
		height:94px;
		border-bottom: 1px solid #f0e1e1;;
		overflow: hidden;
	}
	.nav{
		padding-top: 25px;
	}
	.navbar-header,.navbar-brand{
		height:100%;
	}
	.navbar-brand:hover{
		border:none;
	}
	.navbar-header > a::after{
		background:none;
	}

	.navbar-nav > li > a {
		margin: 15px 30px;
		padding: 0px;
		font-weight:100;
	}
	.navbar-nav > li:nth-child(7) > a{
		margin-right:0px !important;
	}
}

@media only screen and (min-width: 992px) and (max-width: 1200px) {
	.navbar {
		margin-bottom: 0px;
		height:94px;
		border-bottom: 1px solid #f0e1e1;;
		overflow: hidden;
	}
	.nav{
		padding-top: 25px;
	}
	.navbar-nav > li:nth-child(7) > a{
		margin-right:0px !important;
	}
	#about > ul > li, #build > ul > li, #products > ul > li {

		display: inline-block;
		margin: 15px;
		font-weight: 100;

	}
}
@media only screen and (min-width: 768px) and (max-width: 992px) {
	.navbar-nav > li:nth-child(7) > a{
		margin-right:0px !important;
	}
	.navbar {
		margin-bottom: 0px;
		height:94px;
		border-bottom: 1px solid #f0e1e1;;
		overflow: hidden;
	}
	.nav{
		float: none !important;
		font-size: 12px;
		padding-top: 25px;
	}
	.contactus-wrapper {
		padding: 100px 25px;
	}
}
@media only screen and (max-width: 768px) {
	.navbar-header{
		min-height: 94px;
	}
	.navbar {
		margin-bottom: 0px;
		border-bottom: 1px solid #f0e1e1;;
	}
	.navbar-nav > li > a {
		width: max-content;
		width: -moz-max-content;
	}
}
/*--------------------------------*/
/*-------      Banner       ------*/
/*-------------------------------*/

/*.banner-aboutus,.banner-build-kit, .banner-build-cpep, .banner-build-helical, .banner-build-roofing, .banner-build-luxwood, .banner-build-assembly, .banner-build-training, .banner-products-kithome,.banner-products-decking,.banner-products-cladding,.banner-products-fencing,.banner-video,.banner-contact,.banner-project*/
.banner-top {
    height: 200px;
    width: 100%;
	background-size:cover !important;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: -moz-box;
    display: flex;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    -moz-box-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    -moz-box-align: center;
    align-items: center;
}
.product, .home_banner {
	height: 610px;
	padding: 0px;
}
.banner-home-mid {
	background-image:url('../images/home/banner_home_mid.jpg');
	color:white !important;

}
.banner-home-btm {
	background-image: url('../images/home/banner_home_bottom.jpg');
	color: white !important;
	background-position: center;
	padding: 130px 0;
	background-size: cover;
}
.banner-aboutus{
	background: url(../images/about/banner_about.jpg);
}
.banner-build-kit{
	background: url(../images/building_system/banner_kithome.jpg);
}
.banner-build-cpep{
	background: url(../images/building_system/banner_cpep_panels.jpg);
}
.banner-build-helical{
	background: url(../images/building_system/banner_helical_screws.jpg);
}
.banner-build-roofing{
	background: url(../images/building_system/banner_jeli_roofing.jpg);
}
.banner-build-luxwood{
	background: url(../images/building_system/banner_luxwood_digger.jpg);
}
.banner-build-assembly{
	background: url(../images/building_system/banner_assembly.jpg);
}
.banner-build-training{
	background: url(../images/building_system/banner_phe_training.jpg);
}
.banner-products-kithome{
	background: url(../images/products/kithome/banner_product_kithome.jpg);
}
.banner-products-decking{
	background: url(../images/products/decking/banner_product_deck.jpg);
}
.banner-products-cladding{
	background: url(../images/products/cladding/banner_product_cladding.jpg);
}
.banner-products-fencing{
	background: url(../images/products/fencing/banner_product_fencing.jpg);
}
.banner-project{
	background-image: url(../images/projects/banner_project.jpg);
}
.banner-video{
	background-image: url(../images/video/banner_video.jpg);
}
.banner-contact{
	background-image: url(../images/contact/banner_contact.jpg);
}


/*--------------------------------*/
/*------- General Styling --------*/
/*--------------------------------*/

.title-container {
	-webkit-box-align: center;
	-webkit-align-items: center;
	-moz-box-align: center;
	-ms-flex-align: center;
	align-items: center;
	-webkit-box-pack: center;
	-webkit-justify-content: center;
	-moz-box-pack: center;
	-ms-flex-pack: center;
	justify-content: center;
	color: white;
}
.title-container > h1{
	text-align:center;
}
.page_content{
	padding-top:5%;
}


/*--------------------------------*/
/*-------       Footer       ------*/
/*-------------------------------*/

footer {
	background-color:#000;
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
    -ms-flex-pack: justify;
    -moz-box-pack: justify;
    justify-content: space-between;
	width: 100%;
	position: relative;
}
footer > .container {
	margin-top: 25px;
	margin-bottom: 25px;
	font-size: 12px;
}
footer, footer a {
	font-weight: 500;
	font-size: 12px;
	letter-spacing: 0px;
	text-transform: uppercase;
}
footer a::after,.logo-info > a::after{
	background:none;
}

/*.container > span > a:hover,.logo-info > a:hover {
	color:lightgray !important;	
}
*/



/*--------------------------------*/
/*-------       Home       ------*/
/*-------------------------------*/


.img-description{
	width:auto !important;
}
.img-header {
	width: -moz-min-content;
	width: -webkit-min-content;
	width: min-content;
	margin: auto;
}
.img-header > img {
	display: block;
	margin: 0 auto;
	margin-bottom: 10px;
}

.adv-tile > p {
	text-align: center;
	margin: 0 25px;
	color: #3c3c3c;
	margin-bottom: 20px;
}
.overlay-cover{
	width: 46%;
	position: absolute;
	top: 50px;
	bottom: -25px;
    background: rgb(0, 0, 0); /* Fall-back for browsers that don't
                                    support rgba */
    background: rgba(0, 0, 0, .7);
}
.overlay {
	padding-left: 9%;
	padding-top: 5%;
	padding-right: 8%;
}

.overlay > ul > li > a{
	color:white;
	font-weight:500;
}
.overlay > h4 {
	padding: 25px 0;
	text-transform: none;
	line-height: 1.4em;
	font-weight: bold;
}


/*
.certificate-cover {
	background-size: cover;
	padding: 100px 0;
	background-color: #eff6fa;
}

*/


.highlights-list,.highlights-list-about{
	display: -webkit-box;
	display: -webkit-flex;
	display: -ms-flexbox;
	display: -moz-box;
	display: flex;
	-webkit-flex-wrap: wrap;
	-ms-flex-wrap: wrap;
	flex-wrap: wrap;
	-webkit-box-pack: justify;
	-webkit-justify-content: space-between;
	-ms-flex-pack: justify;
	-moz-box-pack: justify;
	justify-content: space-between;
	padding-left: 0;
	margin:0px;
}
.highlights-list > li{
	text-align:center;
	width: 25%;
	line-height: 1.2em;
}
.highlights-list > li > p , .img-header > p {
	color:white;
	text-align:center;
}
.title-block{
	border-left: solid #8b0a1f;
	padding-left: 10px;
	margin-bottom:40px;
}
.title-block > h1{
	margin:0px;
}
.title-block > h5{
	margin:0px;
}
.scenario-list {
	list-style: initial;
	margin-left: 10%;
}
.scenario-list > li {
	font-weight: 100;
	color: #3c3c3c;
}
.contact-info {
	padding-top: 15px;
	padding-left: 20%;
}
.contact-info > h2 {
	margin:0px;
	font-weight:700;
}


/*---- Home Carousel -----*/

.carousel-fade .carousel-inner .item {
  opacity: 0.5;
  -webkit-transition-property: opacity;
  -moz-transition-property: opacity;
  transition-property: opacity;
}
.carousel-fade .carousel-inner .active {
  opacity: 1;
}
.carousel-fade .carousel-inner .active.left,
.carousel-fade .carousel-inner .active.right {
  left: 0;
  opacity: 0.5;
  z-index: 1;
}
.carousel-fade .carousel-inner .next.left,
.carousel-fade .carousel-inner .prev.right {
  opacity: 1;
}
.carousel-fade .carousel-control {
  z-index: 2;
}
#carousel,
#carousel .carousel-inner,
#carousel .item {
   width:100%;	
   height:610px;
}
.carousel-control:hover{
	border:none;
}
.carousel-text {
	text-align: center;
	margin: 0px;
	position: absolute;
	top: 50%;
	transform: translate(-50%,-50%);
	color: white;
	left: 50%;
	width: 80%;
}
.back:nth-child(1) {
    background-image:url('../images/home/banner_home_1.jpg');
	background-size:cover;
	background-repeat:no-repeat;
	-webkit-background-size:cover;
	-moz-background-size:cover;
	-o-background-size:cover;
	background-position:center;	
}

.back:nth-child(2) {
	background-image:url('../images/home/banner_home_2.jpg');
	background-size:cover;
	background-repeat:no-repeat;
	-webkit-background-size:cover;
	-moz-background-size:cover;
	-o-background-size:cover;
	background-position:center;	
}

.back:nth-child(3) {
	background-image:url('../images/home/banner_home_3.jpg');
	background-size:cover;
	background-repeat:no-repeat;
	-webkit-background-size:cover;
	-moz-background-size:cover;
	-o-background-size:cover;
	background-position:center;	
}


/*-----------------------------------*/
/*-------     About Us   ------------*/
/*-----------------------------------*/


.logo-signiture{
	margin-top: 20px;
}
.logo-pic {
	display: inline-block;
	display: -moz-inline-box;
	float: inline-start;
	float:left;
	width: 25%;
}
.logo-info{
	display:inline-block;
	width:75%;
}
.testimonial{
	background-color: #a1646e;
	color:white;
	position: relative;
	overflow: hidden;
	padding: 5% 10%;
	margin-bottom: 5px;
	height: 300px;
}
.testimonial-container{
	width: 100%;
	height: 400px;
}
.testimonial-wrapper {
	height: 400px;
}
.testimonial > p {
	display: table-cell;
	vertical-align: middle;
	padding: 10px;
	line-height:20px;
	font-weight: 200;
}
.corner-ribbon {
	width: 80px !important;
	background: #999999;
	position: absolute;
	top: -15px;
	left: -30px;
	text-align: center;
	line-height: 50px;
	letter-spacing: 1px;
	color: #ffffff;
	-moz-transform: rotate(-45deg);
	-ms-transform: rotate(-45deg);
	transform: rotate(-45deg);
	-webkit-transform: rotate(-45deg);
	-webkit-box-shadow: 0 0 3px rgba(0, 0, 0, .3);
	box-shadow: 0 0 3px rgba(0, 0, 0, .3);
}

/*---- About Us Carousel -----*/

#myCarousel{
	height:430px;
}
#myCarousel > .carousel-indicators {
	bottom: 0px;
}
.carousel-indicators > .active{
	background-color:black;
}
.carousel-indicators > li{
	background-color:darkgrey;
}
.svg-inline--fa {
	display: inline-block;
	font-size: inherit;
	height: 1em;
	overflow: visible;
	vertical-align: -.5em;
}


/*-----------------------------------*/
/*----      Building System     -----*/
/*-----------------------------------*/


.nav-tabs{
	padding-top:0px;
	border:none;
	margin-bottom: 15px;
}
.nav-tabs > li > a {
	border:none !important;
}
.nav-tabs-divider{
	margin-bottom:50px;
}
.nav-tabs-divider > li > a {
	background-color: transparent !important;
	margin: 0px !important;
	padding: 0px !important;
	border:none !important;
}
.nav-tabs-divider > li {
	padding: 0 40px !important;
	border-left: solid 1px gray !important;
	margin-bottom: 10px;
}
.nav-tabs-divider > li:first-child{
	border:none !important;
	padding-left:0px !important;
	margin-left:0px !important;
}
.nav-tabs > li.active > a, .nav-tabs > li.active > a:focus, .nav-tabs > li.active > a:hover {
	color: black;
	cursor: default;
	background-color: transparent !important;
	border: none;
	text-decoration:none;
}
.nav-tabs > li > a:hover {
	border: none !important;
}
.nav-tabs > li > a > h4 {
	margin-top:0px;
	margin-bottom:5px;
}
.col-sm-offset-4 {
	padding-left: 0;
}
.panel {
	margin-bottom: 20px;
	background-color: #fff;
	border: 1px solid transparent;
	border-radius: 4px;
	-webkit-box-shadow:0px 1px 0px 2px rgba(0,0,0,.05);
	box-shadow: 0px 1px 0px 0px rgba(0,0,0,0.1);
}
.panel-heading{
	padding:0px;
}
.panel-group .panel-heading + .panel-collapse > .list-group, .panel-group .panel-heading + .panel-collapse > .panel-body {
	border-top: transparent;
}
.product-properties{
	font-size:15px;
}
.product-use{
	text-transform: uppercase;
}
.panel-title > a::after{
	background-color:transparent;
}
.panel-title > button {
	float: left;
	padding: 0;
	font-size: 15px;
	margin-right:15px;
}
.panel-title > button::after {
	background:none !important;
}
.panel-title > button:hover, .panel-title > button:focus,.panel-title > button:active{
	background:none !important;
}
.panel-title > button > span {
	color: lightgray;
}
.panel-body > .product-property-list{
	width:100%;
}
#panel > .btn,#contact-form-submit, .bottom-contact{
	border:1px solid #8b0a1f;
	color:#8b0a1f !important;
}
#panel > .btn:hover,#contact-form-submit:hover , .bottom-contact:hover{
	color:white !important;
}
#panel > .btn::after,#contact-form-submit::after{
  background-color: #8b0a1f !important;
}

.product-property-list,.tab-pane > .product-property-list{
	width:100%;
	float:none;
	padding:0px 20px;
}

.service-header{
	text-align: center;
	padding: 0px 125px;
}
.service-header > h2{
	margin-top: 0px;
	margin-bottom: 30px;
}

/*---- Building Assembly -----*/

.step > img {
	display:inline-block;
	width:100px;
	height:100px;
}
.step-operation{
	display:inline-block;
	margin-left:10px;
	width:60%;
}
.verticalLine {
	width: 1px;
	height: 25px;
	border: #8b0a1f 1px dashed;
	margin-left: 50px;
	margin-top:5px;
	margin-bottom:0px;
}
.step-operation > p:first-child {
	color: #8b0a1f;
	font-size: 12pt;
	font-weight: bold;
	margin:0px;
}
.step-operation > p:nth-child(2){
	font-size: 12pt;
}


/*-----------------------------------*/
/*----        Products          -----*/
/*-----------------------------------*/

.carousel-product {
	position: absolute;
	color: black;
	text-align: center;
	bottom: 25%;
	left: 50%;
	transform: translateX(-50%);
}
#myCarousel > .carousel-indicators-product {
	bottom: -50px;
}

.certificate-container {
	width: fit-content;
	margin: auto;
	width: -moz-fit-content;
}
.product-property{
	width:100%;
}
ul.product-property-list {
	list-style: disc;
	width: 49%;
	display: inline-block;
	float: inline-start;
	float:left;
	padding-left: 10px;
}
.product-property-list > li{
	padding-left:20px;
}

.product-tile {
	margin: auto;
	display: inline-block;
}

.highlights-list-about li {
	text-align:center;
	width: 12.5%;
}
td{
	padding:5px 0px;
}
td:nth-child(2){
	padding-left:10px;
}
.product-color {
	margin-top: 10px;
}
.product-color > li {
	line-height: 25px;
	display: inline-block;
}
.product-color > li >label {
	display: grid;
	padding: 0px 10px;
}
.product-color > li >label > img {
	display: inline-block;
	margin: auto;
}
.product-img > li {
	line-height: 25px;
	display: inline-block;
	width: 40%;
	padding: 5px;
}
.product-img > li > img {
	vertical-align: middle;
	width: 100%;
	overflow: hidden;
	border: 1px solid lightgray;
}
.color-display-decking{
	background-image: url('../images/products/decking/banner_color_display_decking.jpg');
	color: white !important;
}
.color-display-cladding{
	background-image: url('../images/products/cladding/banner_color_display_cladding.jpg');
	color: white !important;
}
.color-display-fencing{
	background-image: url('../images/products/fencing/banner_color_display_fencing.jpg');
	color: white !important;
}
.color-img > li{
	margin:auto !important;
}
.accessories > img {
	border: 1px solid lightgray;
}
.certificate-img > img{
	border:1px solid lightgray;
}
li.img-header {
	margin: auto;
	display: inline-block;
	width: 16%;
}
ul.adv-tile {
	width: 100%;
}
.product-left{
	padding-left:0px;
}
.product-right > .nav-tabs-divider{
	margin-bottom:25px !important;
}
.product-info > h3{
	margin-top:0px;
}
.tab-content{
	margin-top: 5px;
}
.tab-pane > p {

	text-align: justify;

}
.arrow-down {
	width: 0;
	height: 0;
	border-left: 10px solid transparent;
	border-right: 10px solid transparent;
	border-top: 10px solid #8b0a1f;
	margin-left: 34px;
	position: absolute;
}
.property-list-header{
	color:white;
	background-color:#8b0a1f;
	margin-top: 40px;
}
.property-list{
	background-color:#eff6fa;
}
ul.product-property-list {
	list-style: disc;
	padding: 0;
	margin: 0px;
	padding-left:30px;
}
.product-property-list > li {
	padding-left: 10px;
}

.certificate-1,.certificate-2{
	display: inline-block;
}
.certificate-2{
	margin-left: 25px;
}
@media only screen and (min-width: 992px) and (max-width: 1200px) {
	#myCarousel {
		height: 340px;
	}
	.carousel-product {
		bottom: 235px;
	}
	.logo-pic {
		display: block;
		float: left;
		padding-bottom: 5px;
		margin-right: 10px;
	}
	.logo-info {
		display: block;
		width: 100%;
		padding-top: 10px;
	}
}


/*--------------------------*/
/*------    Video    -------*/
/*--------------------------*/


video {
	background-color: black;
	margin-top: 15px;
	float: right;
}
.video-frame > p {
	margin: 5px 0 40px 0;
}
#play-btn {
	width: 150px;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%,-50%);
	background-color: black;
	border-top-left-radius: 25%35px;
	border-bottom-left-radius: 25%35px;
	border-top-right-radius: 25%35px;
	border-bottom-right-radius: 25%35px;
}
#play-btn:hover{
	background-color:#8b0a1f;
}
.play-img {
	border-radius: 50%;
	width: 50px;
	padding: 5px;
}
.play-text{
	color:white;
}
.play-text , .play-img{
	display:inline-block;
	
}


/*-------------------------------*/
/*--------   contact  -----------*/
/*-------------------------------*/

.phone > .glyphicon, .address > .glyphicon {
	background-color: #8b0a1f;
	color: white;
	border-radius: 50%;
	padding: 5px;
	display: inline-block;
	margin-right: 10px;
	font-size: 12px;
}
.phone > p, .address > p {
	display: inline-block;
	width: 80%;
	margin: 5px 0px 0 0;
	text-align: left;
}
#contact-form-submit{
	text-align:center;
}

/* Create three equal columns that floats next to each other */
.column {
    display: none; /* Hide all elements by default */
}

#myBtnContainer{
	margin-bottom:25px;
}
#myBtnContainer > a.active::after, li.active > a::after, a:hover::after{
    width: 100%;
}

/* The "show" class is added to the filtered elements */
.show {
	display: block !important;
	padding-top: 15px;
	padding-bottom: 15px;
}

.link{
	padding-right:20px;
}
.link > h4 {
	margin-bottom:5px;
	cursor: pointer;
}



/***********************************/
/*         Margin and padding      */
/***********************************/
.mt-0 {
			margin-top: 0px !important;
		}
.mt-10{
	margin-top: 10px !important;
}
.mt-20{
	margin-top: 20px !important;
}
.mt-30{
	margin-top: 30px !important;
}
.mt-40{
	margin-top: 40px !important;
}
.mt-50{
	margin-top: 50px !important;
}
.mb-0{
	margin-bottom: 0px !important;
}
.mb-0{
	margin-bottom: 0px !important;
}
.mb-10{
	margin-bottom: 10px !important;
}
.mb-20{
	margin-bottom: 20px !important;
}
.mb-30{
	margin-bottom: 30px !important;
}
.mb-40{
	margin-bottom: 40px !important;
}
.mb-50{
	margin-bottom: 50px !important;
}
.pt-0{
	padding-bottom: 0px !important;
}

.pt-0{
	padding-bottom: 0px !important;
}
.pt-10{
	padding-top: 10px !important;
}
.pt-20{
	padding-top: 20px !important;
}
.pt-30{
	padding-top: 30px !important;
}
.pt-40{
	padding-top: 40px !important;
}
.pt-50{
	padding-top: 50px !important;
}
.pb-0{
	padding-bottom: 0px !important;
}
.pb-0{
	padding-bottom: 0px !important;
}
.pb-10{
	padding-bottom: 10px !important;
}
.pb-20{
	padding-bottom: 20px !important;
}
.pb-30{
	padding-bottom: 30px !important;
}
.pb-40{
	padding-bottom: 40px !important;
}
.pb-50{
	padding-bottom: 50px !important;
}
.company-text{
	padding-right: 50px;
}
.specs-list {
	list-style: disc;
	padding-left: 15px;
}
.right-list{
	padding-left: 50px !important;
}
.product-carousel-row{
	padding-bottom: 50px;
}
#productCarousel .carousel-indicators {
	bottom: -40px;
}
#productCarousel .carousel-product {
	bottom: -15px;
}
#selectmenu{
	display: none;
}
@media only screen and (max-width: 768px) {
	.contact-info {
		margin: auto;
		display: block;
		width: max-content;
		padding-top: 20px;
		padding-left: 0;
	}
	#myCarousel > .carousel-indicators {
		bottom: -25px;
	}
	#about > ul > li, #build > ul > li, #products > ul > li {
		display: block;
		margin: 20px 0;
		font-weight: 100;
		text-align: center;
	}
	video {
		margin-top: 15px;
		margin: auto;
		display: block;
		margin-top: 20px;
		float: none;
	}
	.company-text{
		padding-right: 15px;
	}
	.building-system-img img{
		margin: auto;
		padding-bottom: 15px;
	}
	.highlights-list-about li {
		text-align: center;
		width: 21%;
	}
	ul.product-property-list {
		width: 100%;
	}
	.right-list{
		padding-left: 30px !important;
	}
	#myCarousel {
		height: 400px;
	}
	li.img-header {
		width: max-content;
		display: block;
	}
	.accessories h4{
		text-align: center;
	}
	.contact-detail{
		padding-bottom: 50px;
	}
	.service-header {
		padding: 0 15px;
	}
	.overlay-cover {
		width: 70%;
	}
	.video-block h2{
		text-align: left;
	}
	.nav-tabs-divider > li {
		padding: 0 15px !important;
		margin-bottom: 10px;
	}
	.product-carousel-row{
		padding-bottom: 0px;
	}
	.testimonial {
		height: 335px;
	}
	.testimonial-container, .testimonial-wrapper, #myCarousel {
		height: 450px;
	}
	#myBtnContainer {
		display: none;
	}
	#selectmenu {
		display: block;
		margin: auto;
	}
	.contactus-wrapper {
		padding: 15px;
	}
}

